* {
  box-sizing: border-box;
}

body {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    color: black; 
    font-size: 16pt; 
    font-family: sans-serif;
}

h1 {
  margin: auto;
  text-align:center;
}

input.calculated-data{
  max-width: 60%;
}

.modal-input {
  margin-top: 75px;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 4;
  width: 80%;
  font-size: 30pt;
  text-align: center;
}

#preflopinputcontainer {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  justify-content: space-around;
  flex-grow: 2;
}

#flopinputcontainer {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  justify-content: space-around;
  flex-grow: 2;
}

#turninputcontainer {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  justify-content: space-around;
  flex-grow: 2;
}

#riverinputcontainer {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  justify-content: space-around;
  flex-grow: 2;
}

.header {
  height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
 background-color: #f2f2f2;
  padding: 0px;
}

.preflop {
  background-color: #ccc;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  height: 23vh;
}

.flop {
  background-color: #f2f2f2;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  height: 23vh;
}

.turn {
  background-color: #ccc;
  padding: 5px;
 display: flex;
  justify-content: space-between;
  height: 23vh;
}

.river {
  background-color: #f2f2f2;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  height: 22vh;
}

.calculate-buttons {
  font-size: 2rem;
  margin: auto;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #B20000;
  cursor: pointer;
  font-family: Arial;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {
  0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
}

@-moz-keyframes glowing {
  0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
}

@-o-keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

@keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

.calculate-buttons-no-animation {
  background-color: #999;
  font-size: 2rem;
  border-radius: 10px;
  margin: auto;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Arial;
  text-decoration: none;
}

/* .calculate-buttons:hover {
  background-color: #173b67;
  cursor: pointer;
} */

.change-buttons {
  background-color: #999;
  margin-left: 10px;
  height: 30px;
  margin: auto;
}

.change-buttons:hover {
  background-color: #6b6b6b;
  cursor: pointer;
}

.inputs {
  width: 135px;
  margin-bottom: 0;
  height: 1.5rem;
  margin-left: 5px;
}

.triple-container {
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
}

.double-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 0px;
  max-width: 20%;
}

.calculated-data {
    color: black;
    background-color: rgb(51, 214, 51);
    font-size: 5rem;
    align-self: center;
  }

.spr.calculated-data {
  background-color: rgb(126, 7, 120);
  color: white;
}

.remaining-stack.calculated-data {
background-color: rgb(98, 111, 119);
  color: white;
}

.pot-size.calculated-data {
background-color: rgb(65, 77, 77);
color: white;
}

p {
  margin: 0px;
}

#effectivestartingstack {
   margin: 0px;
   padding: 0px;
}

.modal {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  padding-top: 100px;
}

.modalcontent {
  background-color: cornsilk;
  margin: auto;
  padding: 30px;
  width: 70%;
  border: 5px solid #000;
}

.close {
  color: darkred;
  float: right;
  cursor: pointer;
}

 input[type=submit] {
    width: 80%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-top: 100px;
    margin-left: 10%;
    margin-right 10%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  .header > p {
    font-weight: bold;
    font-size: 2em;
  }

  .input-data {
    margin-left: 10px;
    font-size: 1.5rem;
    color: red;
    flex: 30%;
    font-weight: bold;
  }

  .input-data-label{
    flex: 30%;
  }

  #inputs {
    flex-grow: .4;
    align-self: center;
    display: flex;
    justify-content: center;
  }